/*reset*/
/*b*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*body*/

body {
    font-family: 'Ubuntu', sans-serif;
    height: auto;
    width: auto;
}

a {
    color: white;
    text-decoration: none;
}

/*div contenedor*/

.contenedor {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10rem 0.1fr 2fr 10rem;
    grid-template-areas: "header header"
        "nav nav"
        "main main"
        "footer footer";
}

/*header*/

header {
    background-image: url(../img/background-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    height: 100%;
}

/* logo principal */

.logoPrincipal {
    padding: 1rem;
    margin: 1rem;
    height: 90px;
}

h1 {
    text-transform: uppercase;
}

/*nav*/

/* modificaciones navbar bs */

.navbar {
    grid-area: nav;
    padding: 0;
}

.contenedor-hamburguesa {
    padding: 0;
    background-color: black;
}

.navbar-toggler {
    margin: 0.6rem;
    border: 1.5px solid white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-ul {
    background-color: black;
    margin: auto;
    text-align: center;
}

.nav-item {
    margin: 0.3rem;
}

.nav-link:hover {
    background-color: rgb(246, 245, 245);
    color: black;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*main*/

main {
    background: rgb(246, 245, 245);
    background: linear-gradient(180deg, rgba(246, 245, 245, 1) 25%, rgba(211, 224, 234, 1) 95%);
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: main;
    height: auto;
}

.mainTitle {
    margin: 2rem;
    text-align: center;
}

.divIndex {
    width: 98%;
    justify-content: center;
}

.mainIframe {
    width: 100%;
}

.homeP {
    margin: 2.5rem 1rem;
    text-align: center;
}

.whatsappIcon {
    display: none;
    width: 70px;
    position: fixed;
    top: 80%;
    right: 15px;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));

}

@keyframes shake {

    from {
        transform: translate(0px, 0px);
    }

    92% {
        transform: translate(0px, 0px);
    }

    94% {
        transform: translate(0px, 5px);
    }

    96% {
        transform: translate(0px, 0px);
    }

    98% {
        transform: translate(0px, -5px);
    }

    to {
        transform: translate(0px, 0px);
    }
}

/*main nosotros*/

.divNosotros {
    width: 95%;
    height: auto;
    margin-bottom: 3rem;
    text-align: center;
}

.divParrafo {
    background: linear-gradient(rgba(53, 75, 89, 0.75), rgba(53, 75, 89, 0.95)),
        url(../img/pa00sombra3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
}

.pNosotros {
    color: white;
    font-size: 1.1rem;
    margin: 0;
    text-shadow: 1px 2px 5px black;
}

.logoCircular {
    display: none;
}

.itemNosotros1 {
    background-color: rgba(0, 166, 221, 1);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    grid-area: a;
}

.itemNosotros2 {
    background-color: rgba(54, 185, 228, 1);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    grid-area: b;
}

.itemNosotros3 {
    background-color: rgba(90, 197, 233, 1);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    grid-area: c;
}

.itemNosotros4 {
    background-color: rgba(126, 209, 238, 1);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    grid-area: d;
}

.itemNosotros5 {
    background-color: rgba(159, 221, 242, 1);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    grid-area: e;
}

.itemNosotros6 {
    background-color: rgba(197, 234, 247, 1);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    grid-area: f;
}

.itemNosotros1,
.itemNosotros2,
.itemNosotros3,
.itemNosotros4,
.itemNosotros5,
.itemNosotros6 {
    display: none;
}

.itemNosTitle {
    font-size: 1.1rem;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px 0.5px rgb(46, 46, 46);
}

/*main servicios*/

.listaServicios {
    margin-bottom: 3rem;
}

body main div ul li {
    list-style-type: none;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

/*main obras*/

.contenedorImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    padding: 0px 10px 50px 10px;
    grid-gap: 10px;
}

.itemGaleria:nth-child(1) {
    grid-row-start: span 2;
}

.itemGaleria:nth-child(3) {
    grid-row-start: span 2;
}

.itemGaleria:nth-child(7) {
    grid-column-start: span 2;
}

.itemGaleria:nth-child(10) {
    grid-row-start: span 2;
}

.itemGaleria:nth-child(11) {
    grid-row-start: span 2;
}

.itemGaleria:nth-child(12) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.itemGaleria:nth-child(13) {
    grid-row-start: span 2;
}

.itemGaleria:nth-child(15) {

    grid-row-start: span 2;
}

.itemGaleria:nth-child(16) {
    grid-row-start: span 2;
}

.itemGaleria:nth-child(17) {
    grid-row-start: span 2;
}

.itemGaleria:nth-child(19) {
    grid-column-start: span 2;
}

.itemGaleria:nth-child(20) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.imgGaleria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*formulario contacto*/

.divFormulario {
    width: 90%;
    margin-bottom: 3rem;

}

form {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: auto;
    padding: 1.5rem;
    box-shadow: 3px 3px 5px black;
}

label,
input,
select {
    height: 1.7rem;
    width: 100%;
    margin: 0.3rem 0rem;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 7rem;
    min-height: 7rem;
    margin: 0.3rem 0rem;
    border-radius: 5px;
}

.botones {
    padding: 0.5rem;
    height: auto;
    background-color: #354c5e;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    background-color: #354c5e;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    text-align: center;
    justify-content: center;
    color: white;
    grid-area: footer;
}

.footerMain {
    font-size: 0.8rem;
    font-weight: 200;
    margin: 0.5rem;
}

.footerRr {
    font-size: 0.6rem;
    font-weight: 200;
    margin: 0.5rem;
}

@media screen and (min-width:600px) {

    /*contenedor 600px*/

    .contenedor {
        grid-template-rows: 10rem 0.1fr 2fr 10rem;
    }

    /* nav 600px */

    .nav-item {
        margin: 0.6rem 2rem;
    }

    /*main 600px*/

    .mainTitle {
        margin: 3rem 2rem;
        text-align: center;
    }

    .divIndex {
        width: 75%;
    }

    .mainIframe {
        width: 100%;
    }

    .homeP {
        margin: 0;
        padding: 4rem;
        font-size: 1rem;
    }

    .whatsappIcon {
        display: block;
    }

    /*main nosotros 600px*/

    .divNosotros {
        width: 80%;
    }

    .divParrafo {
        padding: 5rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contenedorItemNosotos {
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "a b"
            "c d"
            "e f";
        grid-gap: 1rem;
    }

    .itemNosotros1,
    .itemNosotros2,
    .itemNosotros3,
    .itemNosotros4,
    .itemNosotros5,
    .itemNosotros6 {
        display: block;
        margin: 0;
    }

    /*main servicios 600px*/

    .listaServicios {
        width: 70%;
        text-align: left;
    }

    /*main obras 600px*/

    .contenedorImg {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;
        padding: 0px 15px 50px 15px;
        grid-gap: 15px;
    }

    .itemGaleria {
        transition: transform 0.3s ease-in-out;
    }

    .itemGaleria:hover {
        transform: scale(1.01);
    }

    .itemGaleria:nth-child(6) {
        grid-column-start: span 2;
    }

    .itemGaleria:nth-child(7) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    .itemGaleria:nth-child(8) {
        grid-row-start: span 2;
        grid-column-start: span 2;
    }

    .itemGaleria:nth-child(9) {
        grid-row-start: span 2;
    }

    .itemGaleria:nth-child(11) {
        grid-row-start: span 2;
        grid-column-start: span 2;
    }

    .itemGaleria:nth-child(17) {
        grid-row-start: span 3;
    }

    .itemGaleria:nth-child(18) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .itemGaleria:nth-child(19) {
        grid-column-start: span 3;
    }

    .itemGaleria:nth-child(20) {
        grid-column-start: span 3;
        grid-row-start: span 2;
    }

    /*formulario contacto 600px*/

    .divFormulario {
        width: 70%;
    }

    form {
        padding: 2rem 3rem;
    }

    .divBotones {
        display: flex;
        justify-content: space-evenly;
    }

    .botones {
        width: 45%;
    }    

    /*footer 600px*/

    .footer {
        padding: 0.5rem;
    }

    @media screen and (min-width:1200px) {

        /*header 1200px*/

        header {
            justify-content: start;
        }

        .logoPrincipal {
            justify-content: start;
            padding: 1rem;
            margin: 1rem;
            height: 100px;
        }

        /*main 1200px*/

        .divIndex {
            margin: 0rem 2rem 5rem 2rem;
            display: flex;
            flex-flow: row;
            align-items: center;
        }

        .mainIframe {
            width: 50%;
            margin: 0rem 2rem;
            padding: 0;
        }

        .homeP {
            width: 50%;
            margin: 0rem 2rem;
            padding: 0;
        }

        /*main nosotros 1200px*/

        .divNosotros {
            width: 80%;
        }

        .divParrafo {
            background: linear-gradient(rgba(53, 75, 89, 0.75), rgba(53, 75, 89, 0.95));
            padding: 0;
            display: flex;
            flex-direction: row;
        }

        .pCont,
        .divImgNosotros {
            width: 50%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .logoCircular {
            display: block;
            width: 90%;
            margin: auto;
        }

        .contenedorItemNosotos {
            margin-top: 1rem;
            margin-bottom: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "a b c"
                                "d e f";
            grid-gap: 1rem;
        }

        /* main obras 1200px */

        .contenedorImg {
            width: 80%;
            grid-template-columns: repeat(4, 1fr);
        }

        .itemGaleria:nth-child(2) {
            grid-column-start: span 2;
            grid-row-start: span 2;
        }

        .itemGaleria:nth-child(4) {
            grid-column-start: span 3;
            grid-row-start: span 1;
        }

        .itemGaleria:nth-child(7) {
            grid-column-start: span 2;
            grid-row-start: span 1;
        }

        .itemGaleria:nth-child(14) {
            grid-row-start: span 2;
        }

        .itemGaleria:nth-child(17) {
            grid-column-start: span 2;
            grid-row-start: span 2;
        }

        .itemGaleria:nth-child(19) {
            grid-column-start: span 3;
            grid-row-start: span 2;
        }

        .itemGaleria:nth-child(20) {
            grid-column-start: span 1;
            grid-row-start: span 2;
        }

        /*formulario contacto 1200px*/

        .divFormulario {
            width: 50%;
        }

        form {
            padding: 3rem 4rem;
        }

        .botones {
            width: 40%;
        }
    }