.contenedor {
    footer {
        @include flex (flex, column, center, center);
        background-color: #074b7c;
        text-align: center;
        color: $colorClaro1;
        padding: 5px;
        margin-top: -1px;
        grid-area: footer;

        .footerSocial {
            margin: 30px;
            width: 70%;
            @include flex (flex, row, center, auto);

            .footerSocialLink {
                width: auto;
                text-decoration: none;
                @include flex (flex, row, auto, center);
                margin: 10px 25px;

                .FooterSocialIcon {
                    width: 25px;
                    margin-right: 10px;
                    filter: drop-shadow($sombraDrop);
                }

                .linkText {
                    display: none;
                    font-size: 12px;
                    color: $colorClaro1;
                    text-shadow: $sombraDrop;
                }
            }
        }

        .footerH {
            padding: 20px;
            border-top: 2px solid $colorClaro1;

            .footerMain {
                font-size: 0.8rem;
                font-weight: 200;
                margin: $medida-a/2;
            }

            .footerRr {
                font-size: 0.6rem;
                font-weight: 200;
                margin: $medida-a/2;
            }
        }
    }
}