.contenedor {
    header {
        background-image: url(../img/p03.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include flex (flex, row, center, center);
        grid-area: header;
        margin-bottom: -1px;
        min-height: 160px;

        .logoPrincipal {
            padding: $medida-a;
            margin: $medida-a;
            height: 115px;
            filter: drop-shadow($sombraDrop);
        }

        .divIcons {
            display: none;
            width: 50%;
            height: 100%;

            .socialLink {
                height: 25px;
                margin: 1rem 1rem 0 0;

                .socialIcon {
                    width: 25px;
                    filter: drop-shadow($sombraDrop);
                    transition: $transicionGeneral;
                }

                .socialIcon:hover {
                    transform: translate(0, -5px);
                }
            }
        }
    }
}