.divNosotros {
    width: 100%;
    margin: 3rem;
    padding: 1rem 0;
    text-align: center;
    background: linear-gradient($bgDivPrincipal, $bgDivPrincipal),
        url(../img/pa00sombra3.png);
    background-repeat: no-repeat;
    background-position-y: 15%;
    background-size: 100%;
    transition: $transicionGeneral;

    .divParrafo {
        padding: 0.5rem;

        .pCont {
            .pNosotros {
                color: $colorClaro1;
                font-size: 1.1rem;
                margin: 1rem;
            }
        }

        .divImgNosotros {
            .logoCircular {
                display: none;
            }
        }
    }

    .contenedorItemNosotos {
        .itemNosotros1 {
            color: $colorOscuro1;
            background-color: rgba(0, 166, 221, 1);
            border-radius: 10px;
            padding: $medida-a/2;
            margin: $medida-a $medida-a/2;
            grid-area: a;

            .itemNosTitle {
                color: $colorOscuro1;
                font-size: 1.1rem;
                font-weight: bolder;
            }
        }

        .itemNosotros2 {
            @extend .itemNosotros1;
            background-color: rgba(54, 185, 228, 1);
            grid-area: b;
        }

        .itemNosotros3 {
            @extend .itemNosotros1;
            background-color: rgba(90, 197, 233, 1);
            grid-area: c;
        }

        .itemNosotros4 {
            @extend .itemNosotros1;
            background-color: rgba(126, 209, 238, 1);
            grid-area: d;
        }

        .itemNosotros5 {
            @extend .itemNosotros1;
            background-color: rgba(159, 221, 242, 1);
            grid-area: e;
        }

        .itemNosotros6 {
            @extend .itemNosotros1;
            background-color: rgba(197, 234, 247, 1);
            grid-area: f;
        }
    }
}