.contenedor {
    main {
        background-image: url(../img/bg2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include flex (flex, column, center, center);
        grid-area: main;
        height: auto;

        .mainTitle {
            margin: -1px 0;
            padding: 1rem;
            width: 100%;
            height: 12rem;
            @include flex (flex, row, center, center);
            color: $colorClaro1;
            background-color: rgba(6, 147, 224, 0.7);
            border-bottom: 5px solid $colorOscuro1;

            .mainSubtitle {
                font-weight: 700;
                font-size: 2rem;
                letter-spacing: 2px;
            }
        }

        .divIndex {
            width: 100%;
            @include flex (flex, column, center, center);
            padding: 3rem 0rem;
            margin: 3rem 0;
            background: $bgDivPrincipal;
            transition: $transicionGeneral;

            .mainIframe {
                width: 100%;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
                transition: $transicionGeneral;
            }

            .mainIframe:hover {
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
            }

            .divPIndex {
                @include flex (flex, column, center, center);

                .pIndex1,
                .pIndex2 {
                    @include flex (flex, column, center, center);
                    margin: 1.5rem 0.5rem 0rem 0.5rem;
                    background-color: #a7daf4;
                    border-radius: 10px;
                    transition: $transicionGeneral;

                    .iconIndex {
                        max-width: 90px;
                        max-height: 90px;
                        margin: $medida-a;
                    }

                    .iconIndex2 {
                        @extend .iconIndex;
                        display: none;
                    }

                    .homeP {
                        color: $colorOscuro1;
                        margin: 0rem 1rem 1rem 1rem;
                        text-align: center;
                        font-size: $medida-a;
                    }
                }

                .pIndex1:hover {
                    background-color: $colorOscuro1;

                    .iconIndex {
                        display: none;
                    }

                    .iconIndex2 {
                        display: block;
                    }

                    .homeP {
                        color: $colorClaro1;
                    }
                }

                .pIndex2:hover {
                    @extend .pIndex1:hover;
                }
            }
        }

        .divWpp {
            .linkWpp {
                .whatsappIcon {
                    display: none;
                    width: 40px;
                    position: fixed;
                    top: 90%;
                    right: 20px;
                    animation-name: shake;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    filter: drop-shadow($sombraDrop);
                }

                @keyframes shake {

                    from {
                        transform: translate(0px, 0px);
                    }

                    92% {
                        transform: translate(0px, 0px);
                    }

                    94% {
                        transform: translate(0px, 5px);
                    }

                    96% {
                        transform: translate(0px, 0px);
                    }

                    98% {
                        transform: translate(0px, -5px);
                    }

                    to {
                        transform: translate(0px, 0px);
                    }
                }
            }
        }
    }
}