@media screen and (min-width:600px) {
    .contenedor {

        //nav 600px
        .navbar {
            .contenedor-hamburguesa {
                .navbar-collapse {
                    .nav-ul {
                        .nav-item {
                            margin: 0.6rem 2rem;
                        }
                    }
                }
            }
        }

        //main 600px
        main {

            //main index 600px
            .divIndex {
                width: 80%;

                .mainIframe {
                    width: 80%;
                }

                .divPIndex {

                    .pIndex1,
                    .pIndex2 {
                        flex-direction: row;
                        width: 80%;
                        padding: 1rem;

                        .homeP {
                            margin: 0;
                            padding: 1rem;
                            font-size: 1rem;
                        }
                    }
                }
            }

            .divWpp {
                .linkWpp {
                    .whatsappIcon {
                        display: block;
                    }
                }
            }

            //main nosotros 600px
            .divNosotros {
                width: 80%;
                background-position-y: 7.5%;

                .contenedorItemNosotos {
                    margin: 2rem 1rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    grid-template-areas: "a b"
                        "c d"
                        "e f";
                    grid-gap: 1rem;

                    .itemNosotros1,
                    .itemNosotros2,
                    .itemNosotros3,
                    .itemNosotros4,
                    .itemNosotros5,
                    .itemNosotros6 {
                        margin: 0;
                    }
                }
            }

            //main contacto 600px
            .divFormulario {
                width: 70%;

                .encontranos {
                    padding: 2rem 4rem;
                }

                form {
                    padding: 2rem 4rem;

                    .divBotones {
                        display: flex;
                        justify-content: space-evenly;

                        .botones {
                            width: 45%;
                        }
                    }
                }
            }

            //main obras 600px
            .contenedorImg {
                width: 95%;
                padding: 3rem 1rem;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: 250px;
                grid-gap: 15px;

                .itemGaleria:nth-child(6) {
                    grid-column-start: span 2;
                }

                .itemGaleria:nth-child(7) {
                    grid-column-start: span 3;
                    grid-row-start: span 2;
                }

                .itemGaleria:nth-child(8) {
                    grid-row-start: span 2;
                    grid-column-start: span 2;
                }

                .itemGaleria:nth-child(9) {
                    grid-row-start: span 2;
                }

                .itemGaleria:nth-child(11) {
                    grid-row-start: span 2;
                    grid-column-start: span 2;
                }

                .itemGaleria:nth-child(17) {
                    grid-row-start: span 3;
                }

                .itemGaleria:nth-child(18) {
                    grid-column-start: span 2;
                    grid-row-start: span 2;
                }

                .itemGaleria:nth-child(19) {
                    grid-column-start: span 3;
                }

                .itemGaleria:nth-child(20) {
                    grid-column-start: span 3;
                    grid-row-start: span 2;
                }
            }

            //main servicios 600px
            .listaServicios {
                width: 85%;
                padding: 3rem 2rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 2rem;

                .boxServcio1 {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {

    .contenedor {

        //header 1200px
        header {
            justify-content: space-between;

            .divIcons {
                display: flex;
                justify-content: end;
            }
        }

        main {

            //main index 1200px
            .divIndex {
                flex-direction: row;
                width: 90%;
                padding: 2rem;

                .mainIframe {
                    width: 50%;
                    margin: 1rem 2rem;
                    padding: 0;
                }

                .divPIndex {
                    width: 50%;
                    margin: 1rem 2rem;
                    padding: 0;

                    .pIndex1,
                    .pIndex2 {
                        height: 50%;
                        width: 100%;
                        margin: 0.5rem;
                        padding: 2rem;

                        .homeP {
                            width: 100%;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }

            //main nosotros 1200px
            .divNosotros {
                background: $bgDivPrincipal;

                .divParrafo {
                    display: flex;
                    align-items: center;

                    .pCont,
                    .divImgNosotros {
                        width: 50%;
                        padding: 2rem;

                        .logoCircular {
                            display: block;
                            width: 80%;
                            margin: auto;
                        }
                    }
                }

                .contenedorItemNosotos {
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas: "a b c"
                        "d e f";
                }
            }

            //main contacto 1200px
            .divFormulario {
                flex-direction: row;

                .encontranos {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                }

                form {
                    width: 50%;

                    .divBotones {
                        .botones {
                            width: 40%;
                        }
                    }
                }
            }

            //main obras 1200px
            .contenedorImg {
                width: 85%;
                grid-template-columns: repeat(4, 1fr);

                .itemGaleria:nth-child(2) {
                    grid-column-start: span 2;
                    grid-row-start: span 2;
                }

                .itemGaleria:nth-child(4) {
                    grid-column-start: span 3;
                    grid-row-start: span 1;
                }

                .itemGaleria:nth-child(7) {
                    grid-column-start: span 2;
                    grid-row-start: span 1;
                }

                .itemGaleria:nth-child(14) {
                    grid-row-start: span 2;
                }

                .itemGaleria:nth-child(17) {
                    grid-column-start: span 2;
                    grid-row-start: span 2;
                }

                .itemGaleria:nth-child(19) {
                    grid-column-start: span 3;
                    grid-row-start: span 2;
                }

                .itemGaleria:nth-child(20) {
                    grid-column-start: span 1;
                    grid-row-start: span 2;
                }
            }

            //main servicios 1200px
            .listaServicios {
                grid-template-columns: 1fr 1fr 1fr 1fr;

                .boxServcio1 {
                    height: 30rem;
                }
            }
        }

        //footer 1200px
        .footer {
            .footerSocial {
                .footerSocialLink {
                    .linkText {
                        display: block;
                    }
                }
            }
        }
    }
}