.contenedor {
    .navbar {
        grid-area: nav;
        padding: 0;

        .contenedor-hamburguesa {
            padding: 0;
            background-color: #050505;

            .navbar-toggler {
                margin: 0.6rem;
                border: 1.5px solid #fffffe;

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                }
            }

            .navbar-collapse {
                .nav-ul {
                    background-color: #050505;
                    margin: auto;
                    text-align: center;

                    .nav-item {
                        margin: 0.3rem;

                        .nav-link {
                            color: #fffffe;
                            font-size: 1.2rem;
                            text-decoration: none;
                            padding: 5px;
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }

                        .nav-link:hover {
                            background-color: #fffffe;
                            color: #050505;
                        }
                    }
                }
            }
        }
    }

}