@import "utilities/variables";
@import "utilities/mixin";
@import "header";
@import "navbar";
@import "mainIndex";
@import "mainNosotros";
@import "mainServicios";
@import "mainObras";
@import "mainContacto";
@import "footer";
@import "mediaqueries";

/*reset*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*body*/

body {    
    height: auto;
    width: auto;
}

/*div contenedor*/

.contenedor {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 12rem auto auto 14rem;
    grid-template-areas: "header header"
        "nav nav"
        "main main"
        "footer footer";
}

