$medida-a: 1rem;
$bgDivPrincipal: rgba(53, 75, 89, 0.85);
$sombraBoxPrincipal: 0px 0px 2px rgba(5, 5, 5, 0.9);
$sombraDrop: 5px 5px 5px rgba(5, 5, 5, 0.7);
$colorClaro1: #fffffe;
$colorOscuro1: #050505;
$transicionGeneral: all 300ms ease-in-out;